<footer class="footer">
  <div class="footer-content">
    <div class="footer-links">
      <a mat-button routerLink="/" routerLinkActive="active">Home</a>
      <a mat-button routerLink="/contexts" routerLinkActive="active"
        >Contexts</a
      >
      <a mat-button routerLink="/engagement" routerLinkActive="active"
        >Engagement</a
      >
      <a mat-button routerLink="/artistic" routerLinkActive="active"
        >Artistic Expression</a
      >
      <a mat-button routerLink="/discussion" routerLinkActive="active"
        >Discussion</a
      >
    </div>
    <br />
    <hr />
    <h2>Ok, but what does time mean to me - the author?</h2>
    <p class="time">
      Time, to me, is both a friend and an enemy. When I think of the future, it
      feels like a ticking clock, reminding me that I’m running out of time to
      achieve my dreams—a constant pressure that sometimes overwhelms me. In the
      present, I often feel like I’m just skimming the surface, doing the bare
      minimum, and that I should be striving for more. But when I reflect on the
      past, I see how far I’ve come. I see the battles I’ve fought, the
      hardships I’ve endured, and the strength I’ve cultivated. My childhood was
      tough, filled with struggles that could have broken me, but standing here
      today feels like a triumph—proof that I’ve defied the odds and become
      someone I’m proud of.
    </p>
    <p class="time">
      Time pressures me into achieving incredible things, pushing me to excel
      when deadlines loom. Yet, paradoxically, too much time—time without
      structure or purpose—leaves me feeling lost and anxious. Still, I’m
      learning to forgive myself, to grant myself the grace to grow, to relax,
      and to simply exist. Time doesn’t always have to be a race; sometimes, it
      can be a space for healing and becoming.
    </p>
    <br />
    <hr />
    <p>Stoica Andreea</p>
    <p>Babes-Bolyai University</p>
    <p>Specialization: Databases</p>
  </div>
</footer>
